.mainContent{
	width: 700px;
}

.feed-list {
}

.rss-link {
	cursor:pointer;
}

.feed-message {
	margin-top: 20px;
	margin-left: 20px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

.blueBG {
	background-color: #4253af;
}